<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homePage">CoursEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/homePage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/JavaScript">JavaScript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cPlus">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Discussion">Discussion</a>
          </li>
        </ul>
        
        <a class="nav-link" href="javascript:contact();">Contact</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

      </div>
</nav>

<h1 class="cover-heading text-position-head">References</h1>

<div class="text-position-par1">
    <p class="lead">See the links below for a deeper understanding of C++.</p>

    <img src="/public/css/pic29.png" alt="Issue displaying image!">
    <p></p>
    <ul class="lead">
        <li><a target="_blank" href="https://www.tutorialspoint.com/cplusplus/" class="link_t">C++ Tutotial</a></li>
        <li><a target="_blank" href="https://www.quora.com/How-do-I-install-C++" class="link_t">Installation</a></li>
        <li><a target="_blank" href="https://www.youtube.com/watch?v=vLnPwxZdW4Y" class="link_t">C++ for Beginners</a></li>
        <li><a target="_blank" href="http://www.cplusplus.com/" class="link_t">C++ Resource Network</a></li>
    </ul>

    <form action="/cPlus_1" method="Post" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary button-position">Prev</button>
    </form>
    <form action="/cPlus_3" method="POST" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary button-position">Next</button>
    </form>
</div>

