<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homePage">CoursEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/homePage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/JavaScript">JavaScript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cPlus">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Discussion">Discussion</a>
          </li>
        </ul>
        
        <a class="nav-link" href="javascript:contact();">Contact</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

      </div>
</nav>

<h1 class="cover-heading text-position-head">Intro to JavaScript</h1>

<div class="lead text-position-par1">
    <p class="lead">JavaScript is a dynamic programming langauge that is typically used (alongside HTML) to develop web pages and applications. It can be used in client-side or in server-side scripting (NodeJS) to allow for various actions and functionalities to occur across a web application. It supports object-oriented programming and is an interpreted langauge.</p>

    <img src="/public/css/pic27.png" alt="Issue displaying image!">

    <p class="lead">Originally known as LiveScript, JavaScript received its current name as a means to increase its popularity alongside the Java programming language that was very popular at the time. JavaScript, however, is now an independent language that can be executed in a browser or on a server.</p>

    <form action="/javascript_1" method="POST" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary">Next</button>
    </form>
</div>
