<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homePage">CoursEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/homePage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/JavaScript">JavaScript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cPlus">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Discussion">Discussion</a>
          </li>
        </ul>
        
        <a class="nav-link" href="javascript:contact();">Contact</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

      </div>
</nav>

<h1 class="cover-heading text-position-head">Functions</h1>

<div class="text-position-par1">
    <p class="lead">In JavaScript, a function is a sort of executable mini-program within the entire program. Typically, functions are defined through a set of statements to perform a partcular task. They are called using the functions name along with optional parameters and may output some desired outcome representing the completion of some task within the program (they can be called multiple times with different parameters). Function execution can be stopped with "return" statements, which will then return to the statement in the main program after the function call (a return statement in a function may have an optional return value that will be returned by the function when it stops execution). As such, functions are very nice utilities that allow you to organize your code into separate parts, each of which are designated some task to complete.</p>
    
    <img src="/public/css/pic11.png" alt="Issue displaying image!">

    <p class="lead">Functions in JavaScript are also considered objects, which were discussed in a previous section, and as such maintain the same properties as obects. It is also important to note that if you are passing some parameters to a function, they are passed by value. Thus, you are essentially passing a copy of the value of the parameter to the function and as such, the original value of the parameter once the function is completed remains the same. The exception to this rule, however, are objects, where if an object is passed to a function and one of the key and value pairs are modified, the original object, even after leaving the function, will contain the modified values.</p>
    
    <img src="/public/css/pic2.png" alt="Issue displaying image!">
    
    <p class="lead">There are many different ways in which functions can be declared. See the below code for examples of function usage and syntax.</p>
    
    <img src="/public/css/pic12.png" alt="Issue displaying image!" class="pic12">

    <form action="/javascript_4" method="Post" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary button-position">Prev</button>
    </form>
    <form action="/javascript_6" method="POST" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary button-position">Next</button>
    </form>
</div>