<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homePage">CoursEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/homePage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/JavaScript">JavaScript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cPlus">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Discussion">Discussion</a>
          </li>
        </ul>
        
        <a class="nav-link" href="javascript:contact();">Contact</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

      </div>
</nav>

<h1 class="text-position-head">Control Structures</h1>

<div class="text-position-par1">
    <p class="lead">Like many other languages, Python also contains statements that allow a programmer to control the flow of a program. You can use the "if...else" statement to execute particular statements depending on result of a particular conditional statement.</p>
    
    <p class="lead">Iterative statements are also presents in Python with "for" and "while" loops. Both these structures are used to repeat a set of statements for a controlled set of iterations based on either a counter variable ("for" loops) or the result of a conditional statement ("while" loops). See the code below for the use of various control statements in Python (be sure to pay attention to the syntax, as there are slight but notable differences in keywords in Python compared to some other programming languages you may be familiar with).</p>
    
    <img src="/public/css/pic23.png" alt="Issue displaying image!">

    <p class="lead">An important aspect of Python is the use of indentations (this could be either tabs or spaces) while writing code. Since Python does not use braces to enclose a group of statements, it requires that statements that fall under a particular scope be indented appropriately.</p>

    <form action="/python_3" method="Post" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary button-position">Prev</button>
    </form>
    <form action="/python_5" method="POST" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary button-position">Next</button>
    </form>
</div>