<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homePage">CoursEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/homePage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/JavaScript">JavaScript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cPlus">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Discussion">Discussion</a>
          </li>
        </ul>
        
        <a class="nav-link" href="javascript:contact();">Contact</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

      </div>
</nav>

<h1 class="cover-heading text-position-head">Quiz</h1>

<form action="/homePage" method="POST" class="lead text-position-par1">
    <label class="emphasize">
        1. Which of these is not a core data type?
    </label>
    <label>
        <input type="radio" name="user_test1" value="1" /> Lists
    </label>
    <label>
        <input type="radio" name="user_test1" value="2" /> Dictionary
    </label>
    <label>
        <input type="radio" name="user_test1" value="3" /> Tuples
    </label>
    <label>
        <input type="radio" name="user_test1" value="4" /> Class
    </label>

    <label class="emphasize">
        2. In order to store values in terms of key and value, we use what core data type?
    </label>
    <label>
        <input type="radio" name="user_test2" value="1" /> List
    </label>
    <label>
        <input type="radio" name="user_test2" value="2" /> Tuple
    </label>
    <label>
        <input type="radio" name="user_test2" value="3" /> Class
    </label>
    <label>
        <input type="radio" name="user_test2" value="4" /> Dictionary
    </label>

    <label class="emphasize">
        3. What does 3**4 evaluate to?
    </label>
    <label>
        <input type="radio" name="user_test3" value="1" /> 81
    </label>
    <label>
        <input type="radio" name="user_test3" value="2" /> 12
    </label>
    <label>
        <input type="radio" name="user_test3" value="3" /> 0.75
    </label>
    <label>
        <input type="radio" name="user_test3" value="4" /> 7
    </label>

    <label class="emphasize">
        4. What is the output when the following is executed? "abcd"[2:]
    </label>
    <label>
        <input type="radio" name="user_test4" value="1" /> a
    </label>
    <label>
        <input type="radio" name="user_test4" value="2" /> ab
    </label>
    <label>
        <input type="radio" name="user_test4" value="3" /> cd
    </label>
    <label>
        <input type="radio" name="user_test4" value="4" /> dc
    </label>

    <label class="emphasize">
        5. Which of the following is valid syntax in Python? Check all that apply.
    </label>
    <label>
        <input type="checkbox" name="checkbox_test11"/> list1 = ["red", "blue", "green"]
    </label>
    <label>
        <input type="checkbox" name="checkbox_test12"/> ["red", "green", "blue"][0:-1]
    </label>
    <label>
        <input type="checkbox" name="checkbox_test13"/> ["red", "green", "blue"][]
    </label>
    <label>
        <input type="checkbox" name="checkbox_test14"/> ["red", "green", "blue"][::-1]
    </label>
    <label>
        <input type="hidden" name="PythonQuiz">
    </label>
    <label>
        <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
    </label>
</form>