<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homePage">CoursEdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/homePage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/JavaScript">JavaScript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cPlus">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Discussion">Discussion</a>
          </li>
        </ul>
        
        <a class="nav-link" href="javascript:contact();">Contact</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Setting</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

      </div>
</nav>

<h1 class="cover-heading text-position-head">Intro to Python</h1>

<div class="lead text-position-par1">
    <p class="lead">Python is a general-purpose programming language that was created by Guido van Rossum from 1985 to 1990. As it is an interpreted programming language, Python does not require program implementations to be explicitly complied before execution, and as such is often known as a "scripting" language. Instead, Python interprets and executes code line by line, as is often expected of script files which typically consist of a set of instructions to perform.</p>

    <img src="/public/css/pic14.png" alt="Issue displaying image!" class="pic19">

    <p class="lead">Often considered a very user-friendly langauge, Python is designed to facilitate code readability and, usually, as a consequence writability as well. Much of the syntax in Python can often be read as a directly understandable statement, as many keywords are derived from the English langauge. It also has an interactive prompt, which will directly interpret your commands that you enter (it is even possible to write your program through the Python prompt)./p>

    <form action="/python_1" method="POST" class="lead">
        <button type="submit" class="btn btn-lg btn-secondary">Next</button>
    </form>
</div>

